*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    font-family: 'Work Sans', sans-serif;
}
.about{
    visibility: block;
}
.modal-btn{
    margin-right: 30px;
}
.modal-bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: (0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

}
.bg-active{
    visibility: visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    background-color: white;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    position:relative;
    border-radius: 4px;
    
}
.modal-title{
    margin-top: 20px;
}
.modal-cerrar{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.modal-usuario {
    position: relative;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction:row;
    font-weight: bold;

}
.modal-mail {
    position: relative;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction:row;
    font-weight: bold;
}
.entrar{
    float: right;
}
.input {
    size: 50px;
}
#apu {
    margin-top: 40px;
}


#submit {
    background-color: black;
    color:white;
    border-radius: 4px;
}
input{
    width: 50%;
    display:block;
    margin: 15px auto;
}

.col{
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
}

.card{
    position: relative;
    width: 180px;
    height: 225px;
    margin:20px;
}

.card .face {
    position :absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54) ;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;

}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height:50px;
    line-height: 50px;
    
}
.card .back .link a{
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 10px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-align: center;

}

.card .back p{
    letter-spacing: 1px;
    font-size: 14px;

}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.skill-item {
    margin-top: 40px;
}

.drop {
    width: 40px;
    height: 40px;
}