<!--navbar comienza-->
<nav class="navbar navbar-light bg-light fixed-top shadow-sm d-flex align-items-center ">
    <div class="container-lg">
      <a class="navbar-brand text-success fw-bold fs-4" href="https://www.instagram.com/argentinaprograma/" ><img class="ap width:20px height:auto p-3" src="./img/APLogo-20-20-icon2.png"  alt=""></a>
      <div class="social-links ">
        <a href="#"><i class="fab fa-facebook-f text-dark me-2"></i></a>
        <a href="#"><i class="fab fa-twitter text-dark me-2"></i></a>
        <a href="https://www.instagram.com/monsieur_eduardo/"><i class="fab fa-instagram text-dark me-2"></i></a>
        <a href="#"><i class="fab fa-linkedin-in text-dark me-2"></i></a> 
        </div>
        <div class=" login justify-content-md-end">
            <button class="modal-btn btn btn-outline-success me-md-2">Login</button>
        </div>
      <div class="dropdown">
           <a class=" drop btn btn-secondary btn-success px-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
           </a>
           
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#acerca_de">Acerca de</a></li>
                <li><a class="dropdown-item" href="#educacion">Educación</a></li>
                <li><a class="dropdown-item" href="#experiencia">Experiencia</a></li>
                <li><a class="dropdown-item" href="#skills">Skills</a></li>
                <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
                <li><a class="dropdown-item" href="#contacto">Contacto</a></li>    
            </ul>
      </div>
    </div>
  </nav>
  <!--navbar termina-->
<!-- Presentacion, comienzo-->
<section class="home py-5" id="acerca_de">
    <div class="container-lg d-flex">
        <div class="row bg-light min-vh-100 align-items-center align-content-center ">
            <div class="col-md-6 mt-5 mt-md-0">
              <div class="home-img text-center " >
                  <img src="./img/portfolio-img-princ.png" id = "prince" class= " w-75 align-content-center alt=">
              </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                <div class="home-text">
                   <p class="text-muted mb-1"> Hola, soy</p>
                  <h1 clas="text-success fs-1 fw-bold">Full Stack Jr.</h1>
                  <h2 class= "fs-4">Eduardo Manuel Cabral</h2>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="#" class = "btn-right text-success"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                      <a href="#" class = "btn-right text-success"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </div>
                  <p class="mt-4 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt hendrerit velit vel imperdiet. Pellentesque nec turpis non ex tincidunt fringilla. Donec elementum risus in dui auctor faucibus. In dui magna, venenatis ut orci tincidunt, semper rhoncus lacus. Morbi aliquam eget elit non faucibus. Vestibulum eu ante posuere, tristique metus id, facilisis dolor. Cras sed dolor vitae lorem interdum auctor sit amet a lorem. Quisque iaculis molestie velit eget fringilla. Sed dictum congue metus sit amet malesuada. Sed dictum vehicula diam, non venenatis odio blandit ut.
                  </p>
                  <!--<button class="switch btn btn-success px-3 mt-3">Mis intereses</button>-->
                 
                  <a href="#proyectos" class="btn btn-success px-3 mt-3">Mis proyectos</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!--mis intereses comienzo-->
<div class="about bg-white py-5">
  <div class="container-2">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="section-title text-center">
                  <h2 class="fw-bold mb-5 text-dark fw-bold">Mis intereses</h2>
              </div>
          </div>
      </div>
      <div class="row" id="intereses">
          <div class="card">
              <div class="face front">
                  <img src="./img/pent2.jpg" alt="">
                  
              </div>
              <div class="face back">
                  <h5>Música</h5>
                  <p>No concibo mi vida sin ella</p>
                  <div class="link">
                      <a href="https://open.spotify.com/playlist/5pWDP3NLpFgoXFWgqMAiOh?si=57433fa2987e49be" target="_blank">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="card">    
              <div class="face front">
                  <img src="./img/literatura.jpg" alt="">
               
              </div>
              <div class="face back">
                  <h5>Literatura</h5>
                  <p>Libros, un poco cada día</p>
                  <div class="link">
                      <a href="https://es.b-ok.global/" target="_blank">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face front">
                  <img src="./img/comic books.png" alt="">
                  
              </div>
              <div class="face back">
                  <h5>Cómics books</h5>
                  <p>Lector compulsivo, coleccionista, hago un podcast junto a 2 amigos</p>
                  <div class="link">
                      <a href="https://www.dccomics.com/">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face front">
                  <img src="./img/tkd.png" alt="">
                  
              </div>
              <div class="face back">
                  <h5>TKD</h5>
                  <p>Practicante de Tae Kwon DO, arte marcial de origen coreano</p>
                  <div class="link">
                      <a href="https://itftkd.sport/history/our-history/"target="_blank">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="card">    
              <div class="face front">
                  <img src="./img/programacion.png" alt="">
                  
              </div>
              <div class="face back">
                  <h5>Programación</h5>
                  <p>Fascinado por el tema busco cursos en la web mientras avanzo a prueba y error</p>
                  <div class="link">
                      <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="face front">
                  <img src="./img/casla.jpg" alt="">
                
              </div>
              <div class="face back">
                  <h5>San Lorenzo</h5>
                  <p>100% cuervo, 3° generación</p>
                  <div class="link">
                      <a href="https://sanlorenzo.com.ar/" target="_blank">Ver más</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
<!--mis intereses final-->
<!--modal, comienzo-->
<div class="modal-bg">
    <div class="modal">
        <div class="modal-title ">
          <h3 class ="header-modal text-success fw-bold">Login</h3>
        </div>
        
        <span class="modal-cerrar">X</span>
          <div class="modal-usuario">
              <label for="usuario">Usuario</label>
              <input type="text" name ="usuario">
          </div>
          <div class="modal-mail">
              <label for="password">Password</label>
              <input type="text" name="password">
          
          </div>
          <div class="modal-footer">
              <button class="entrar btn btn-success px-3 mt-3 ">Entrar</button>
          </div>       
    </div>
</div>
<!--modal, final-->  
<!-- Presentacion, final-->
<section class="disponibilidad py-5 bg-success">
  <div class="container-lg py-4">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mb-4 fs-1  ">Disponible para proyectos Part-Time</h2>
          <a href="#contacto" class="btn btn-outline-light">Contacto</a>
          </div>
      </div>
  </div>

</section>
<section class= "educacion bg-white py-5" id="educacion">
  <div class="container-lg py-4">
      <div class="row">
          <div class="col-lg-12  ">
              <div class="section-title text-center">
                  <h2 class="fw-bold mb-5 ">Educación</h2>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                      <a href="#" class = "btn-right text-dark"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                      <a href="#" class = "btn-right text-dark"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </div>
              </div>
              <p class="IA"><img src="./img/ialab-icon.png" alt="" class="ap width:20px height:auto p-3"><b>2022</b> Programa Básico Multidisciplinario de Formación en Datos e Inteligencia Artificial - IALAB UBA. Certificado en trámite</p>
              <p class="AP"><img src="./img/APLogo-20-20-icon.png" alt="" class="ap width:20px height:auto p-3"><b>2021-2022</b> Argentina Programa, Ministerio de Desarrollo Productivo</p>
              <p class="universidad"><img src="./img/undav-ico.png" alt="" class="ap width:20px height:auto p-3"><b>2015-2017</b>  Universidad de Avellaneda, Ingeniería en Informática. No concluida, 10 materias cursadas</p>
              <p class="secundaria " id="secu" ><img src="./img/jvg-ico.png" alt="" class="ap width:20px height:auto p-3 align-content-center" id="jvg"><b>1987-1991</b>Escuela de Comercio N°1 Joaquin V. González</p>
              <p class="primaria" id="salvador"><img src="./img/white-ico.png" alt="" class="ap width:20px height:auto p-3"><b>1980-1986</b>  Colegio Salvador Soreda, Wilde </p>    
          </div>
      </div>
  </div>
</section>

<!-- skills, comienzo-->
<section class="skills bg-white py-5" id="skills">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5">Hard/Soft Skills</h2>
                </div>
            </div>
        </div>
        <div class="row ">
           <div class="col-md-6">
              <div class="row text-center text-uppercase my-3">
                  <div class="col-sm-4">
                      <div class="fact-item">
                          <h4 class="fs-1 fw-bold"><img src="./img/html-icon.png"class="img-thumbnail border border-none " alt=""></h4>
                          <p class=" text-muted">HTML/CSS</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="fact-item">
                        <h4 class="fs-1 fw-bold"><img src="./img/bootstrap-icon.png"class="img-thumbnail border border-none " alt=""></h4>
                        <p class=" text-muted">Bootstrap</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="fact-item">
                        <h4 class="fs-1 fw-bold"><img src="./img/ang.png"class="img-thumbnail border border-none " alt=""></h4>
                        <p class=" text-muted">Angular</p>
                    </div>
                </div>  
                </div>
              <div class="row text-center text-uppercase my-3">
                <div class="col-sm-4">
                    <div class="fact-item">
                        <h4 class="fs-1 fw-bold"><img src="./img/mysql-icon.png"class="img-thumbnail border border-none " alt=""></h4>
                        <p class=" text-muted">mysql</p>
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="fact-item">
                      <h4 class="fs-1 fw-bold"><img src="./img/Js-icon.png"class="img-thumbnail border border-none " alt=""></h4>
                      <p class=" text-muted">Javascript</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="fact-item">
                      <h4 class="fs-1 fw-bold"><img src="./img/spring-boot-icon.png"class="img-thumbnail border border-none " alt=""></h4>
                      <p class=" text-muted">Springboot</p>
                  </div>
              </div>  
              </div>
           </div>
           <div class="col-md-6 mt-5 mt-md-0" >
              <div class="skill-item mb-4">
                  <h4>Resolución de problemas</h4>
                  <div class="progress" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="skill-item mb-4">
                <h4>Diseño gráfico</h4>
                <div class="progress" style="height: 7px;">
                  <div class="progress-bar bg-success " role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="skill-item mb-4">
                    <h4>Capacidad de adaptación</h4>
                    <div class="progress" style="height: 7px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>
           </div>
          </div>
      </div>
  </section>
  <!--final-->

  <!-- sección portfolio comienza-->
      <section class="portfolio  py-5" id="proyectos">
          <div class="container-lg py-4">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="section-title text-center">
                          <h2 class="fw-bold mb-5 text-success">Proyectos</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-lg-4">
                     <div class="portfolio-item">
                         <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                           <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                      </div>
                 </div>
                 <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item">
                      <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                       <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                   </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item">
                      <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                        <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                   </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item">
                      <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                        <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                   </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item">
                      <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                        <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                   </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item">
                      <img src="./img/portfolio/proximamente.jpg" class="w-100 img-thumbnail" alt="">
                       <!--<h3 class="text-capitalize fs-5 my-2">Team section</h3>
                       <p class="mb-4"><a href="#" class="text-success text-decoration-none">sssssssss</a></p>-->
                   </div>
              </div>
              </div>
          </div>

      </section>
  <!--sección portfolio termina-->

  <!--sección contacto, comienzo-->
  <div class="cardn mb-3" style="width:100% border=0">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./img/pixlr-bg-result.png" class="img-fluid rounded-start" id="apu" alt="Gracias, vuelva prontos">
        </div>
        <div class="col-md-8">
          <section class="contacto py-5" id="contacto">
              <div class="container-lg py-4 ">
                  <div class="row justify-content-right">
                      <div class="col-lg-8 ">
                          <div class="section-title text-center ">
                              <h2 class="fw-bold mb-5 text-light bg-success">Contacto</h2>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                  <a href="#" class = "btn-right text-dark"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                  <a href="#" class = "btn-right text-dark"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 d-flex mb-3 order-md-first">
                          <div class="icon fs-4 text-dark ">
                              <i class="fas fa-envelope"></i>
                          </div>
                          <div class="text">
                              <h3 class="fs-5 ms-3"> Email</h3>
                              <p class="text-muted m-0 fs-5 text-dark">eduardomcabral1974@gmail.com</p>
  
                          </div>
                      </div>
                      <div class="col-md-5 d-flex mb-3 order-md-second ">
                          <div class="icon fs-4 text-dark">
                              <i class="fas fa-map-marker-alt"></i>
                          </div>
                          <div class="text">
                              <h3 class="fs-5 ms-3"> Avellaneda</h3>
                              <p class="text-muted m-0 fs-5">Bs.As., Argentina</p>
  
                          </div>
                      </div>
                      <div class="col-md-5 d-flex mb-3 order-md-last">
                          <div class="icon fs-4 text-dark ">
                              <i class="fas fa-phone"></i>
                          </div>
                          <div class="text">
                              <h3 class="fs-5 ms-3 text-dark"> Teléfono</h3>
                              <p class="text-muted m-0 fs-5 ">1131759904</p>
  
                          </div>
                      
                      </div>
                      
                  </div>
              </div>
          </section>
        </div>
      </div>
    </div>
 
  <!-- sección contacto, termina-->
 
  <!--footer comienza-->
  <footer class="footer border-top py-4">
      <div class="container-lg">
          <div class="row">
              <div class="col-lg-12">
                  <p class="m-0 text-center text-muted">&copy; 2022 Eduardo Cabral</p>
              </div>
          </div>
      </div>
  </footer>
  <!--footer termina-->