<!--modal, comienzo-->
<div class="modal-bg">
    <div class="modal">
        <div class="modal-title ">
          <h3 class ="header-modal text-success fw-bold">Login</h3>
        </div>
        
        <span class="modal-cerrar">X</span>
          <div class="modal-usuario">
              <label for="usuario">Usuario</label>
              <input type="text" name ="usuario">
          </div>
          <div class="modal-mail">
              <label for="password">Password</label>
              <input type="text" name="password">
          
          </div>
          <div class="modal-footer">
              <button class="entrar btn btn-success px-3 mt-3 ">Entrar</button>
          </div>       
    </div>
</div>
<!--modal, final-->  